on:
  workflow_dispatch:
  push:

  #   tags:
  #     - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Creating release

jobs:
  # Build & test simple source release before wasting hours building and
  # testing the binary build matrix.
  sdist:
    name: Creating source release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Installing python build dependencies
        run: |
          pip install --upgrade pip wheel

      - name: Building source distribution
        run: |
          python setup.py sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  # Build the wheels which do not require host emulation.
  build_wheels:
    name: "[${{ strategy.job-index }}/${{ strategy.job-total }}] py${{ matrix.py }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    env:
      CIBW_BUILD: "${{ matrix.py }}-*"
      CIBW_ARCHS_LINUX: auto
      CIBW_ARCHS_MACOS: auto universal2
      CIBW_ARCHS_WINDOWS: auto
      CIBW_BEFORE_TEST: "pip install pytest flake8"
      CIBW_TEST_COMMAND: "pytest {project}/tests"
      # Can't test cross-compiled Mac OS builds.
      CIBW_TEST_SKIP: "*_arm64 *_universal2:arm64"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]
        py: ["cp38", "cp39", "cp310"]

    steps:
        - uses: actions/checkout@v2

        - name: Building binary wheels
          uses: pypa/cibuildwheel@v2.4.0

        - uses: actions/upload-artifact@v2
          with:
            path: ./wheelhouse/*.whl

  # Build the wheels which require host emulation.
  build_emulated_wheels:
    name: "[${{ strategy.job-index }}/${{ strategy.job-total }}] py${{ matrix.py }} (${{ matrix.arch }})"
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        py: ["cp38", "cp39", "cp310"]
        arch: [aarch64, ppc64le]

    steps:
      - uses: actions/checkout@v2

      - name: Setting up Qemu for host emulation
        uses: docker/setup-qemu-action@v1

      - name: Building binary wheels
        uses: pypa/cibuildwheel@v2.4.0
        env:
          CIBW_ARCHS: "${{ matrix.arch }}"
          CIBW_BUILD: "${{ matrix.py }}-*"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
